@model IEnumerable<O_MAF.Models.InitiateResponse>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Workload</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
        <h2>Workload Report</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Modex</th>
                    <th>System Reason</th>
                    <th>Discrepancy</th>
                    <th>Initiator</th>
                    <th>Qual</th>
                    <th>Workcesnter</th>
                    <th>Is Acft Up?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (O_MAF.Models.InitiateResponse listItem in Model)
                {
                <tr>
                    <td>@listItem.Modex</td>
                    <td>@listItem.SysReason</td>
                    <td>@listItem.Discrepancy</td>
                    <td>@listItem.Initiator</td>
                    <td>@listItem.Qual</td>
                    <td>@listItem.WkCtr</td>
                    <td>@listItem.AcftUp</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>