@model OMAF.Models.Aircraft

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aircraft</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MCN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MCN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Buno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Buno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SysReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SysReason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobStat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobStat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InitiateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InitiateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UDP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UDP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Initiator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Initiator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discrepancy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discrepancy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IwDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IwDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorrAction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorrAction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inspector)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inspector)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MxCtrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MxCtrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MxCtrlNotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MxCtrlNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to Workload</a>
</div>
